In [131]:
import pandas as pd

movies = pd.read_csv('D:\PyCharm Community Edition 2021.1.1\pythonProject3/movie_bd_v5.csv')
display(movies)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,6.4,2000
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000

In [8]:
movies_list1 = movies.query('imdb_id in ["tt1345836","tt0413300","tt2395427","tt1032751","tt1298650"]') #фильтруем датасет
movies_list1[movies_list1['budget']==movies_list1.budget.max()]["original_title"] #фильmруем получившийся датасет по максимальному значению budget, обращаясь к original_title, чтобы получить искомый фильм

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

In [9]:
movies_list2 = movies.query('imdb_id in ["tt0167260","tt0279111","tt0360717","tt0213149","tt0346491"]') #фильтруем датасет
movies_list2[movies_list2['runtime']==movies_list2.runtime.max()]["original_title"] #фильmруем получившийся датасет по максимальному значению runtime, обращаясь к original_title, чтобы получить искомый фильм

1157    Gods and Generals
Name: original_title, dtype: object

In [11]:
movies_list3 = movies.query('imdb_id in ["tt0299172","tt0283426","tt1449283","tt0121164","tt0443536"]') #фильтруем датасет
movies_list3[movies_list3['runtime']==movies_list3.runtime.min()]["original_title"] #фильтруем получившийся датасет по минимальному значению runtime, обращаясь к original_title, чтобы получить искомый фильм

768    Winnie the Pooh
Name: original_title, dtype: object

In [15]:
movies_list4 = movies.runtime.mean() #находим среднюю длительность всех фильмов по всему датасету
round(movies_list4) #округляем полученный результат

110

In [16]:
movies_list5 = movies.runtime.median() #находим медианную длительность всех фильмов по всему датасету
movies_list5

107.0

In [22]:
movies_list6 = movies.query('imdb_id in ["tt0848228","tt2293640","tt2488496","tt2820852","tt0499549"]') #фильтруем датасет
movies_list6['profit'] = movies_list6['revenue'] - movies_list6['budget'] #создаем колонку со значением profit (разность revenue и budget)
movies_list6[movies_list6['profit'] == movies_list6.profit.max()]["original_title"] #фильтруем получившийся датасет по максимальному значению profit, обращаясь к original_title, чтобы получить искомый фильм

<ipython-input-22-0378ebab4fee>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_list6['profit'] = movies_list6['revenue'] - movies_list6['budget']

239    Avatar
Name: original_title, dtype: object

In [23]:
movies_list7 = movies.query('imdb_id in ["tt0134983","tt2294629","tt0424095","tt0180052","tt1210819"]') #фильтруем датасет
movies_list7['profit'] = movies_list7['revenue'] - movies_list7['budget'] #создаем колонку со значением profit (разность revenue и budget)
movies_list7[movies_list7['profit'] == movies_list7.profit.min()]["original_title"] #фильтруем получившийся датасет по минимальному значению profit, обращаясь к original_title, чтобы получить искомый фильм

<ipython-input-23-ef041a163277>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_list7['profit'] = movies_list7['revenue'] - movies_list7['budget'] #создаем колонку со значением profit (разность revenue и budget)

1245    The Lone Ranger
Name: original_title, dtype: object

In [27]:
len(movies[movies.revenue > movies.budget]) # фильтруем датасет по заданным условиям, вызывая функцию len, чтобы посчитать количество фильмов

1478

In [32]:
movies[movies['revenue'] == movies[movies.release_year == 2008].revenue.max()]['original_title'] # фильтруем датасет по заданным условиям, обращаясь к original_title, чтобы получить искомый фильм

599    The Dark Knight
Name: original_title, dtype: object

In [37]:
movies_list10 = movies[(2012 <= movies['release_year']) & (movies['release_year'] <= 2014)] # фильтруем датасет по заданным условиям
movies_list10['profit'] = movies_list10['revenue'] - movies_list10['budget'] #создаем колонку со значением profit (разность revenue и budget)
movies_list10[movies_list10['profit'] == movies_list10.profit.min()]["original_title"] #фильтруем получившийся датасет по минимальному значению profit, обращаясь к original_title, чтобы получить искомый фильм

<ipython-input-37-20d81e9ebdd8>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_list10['profit'] = movies_list10['revenue'] - movies_list10['budget']

1245    The Lone Ranger
Name: original_title, dtype: object

In [54]:
movies_list11 = movies #задаем переменную, равную датасету
movies_list11['single_genres'] = movies_list11.genres.str.split('|') #создаем столбец 'single_genres', в котором жанры будут разделены
movies_list11 = movies_list11.explode('single_genres') # с помощью функции explode разделяем на отдельные строки
movies_list11.single_genres.value_counts()[movies_list11.single_genres.value_counts() == movies_list11.single_genres.value_counts().max()].index #получаем значение жанра с помощью вызова функции value_counts по максимальному значению

Index(['Drama'], dtype='object')

In [58]:
movies_list12 = movies[movies.revenue > movies.budget] #задаем переменную согласно условиям
movies_list12['single_genres'] = movies_list12.genres.str.split('|') #создаем столбец 'single_genres', в котором жанры будут разделены
movies_list12 = movies_list12.explode('single_genres') # с помощью функции explode разделяем на отдельные строки
movies_list12.single_genres.value_counts()[movies_list12.single_genres.value_counts() == movies_list12.single_genres.value_counts().max()].index #получаем значение жанра с помощью вызова функции value_counts по максимальному значению

<ipython-input-58-f44a6f3f63e6>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_list12['single_genres'] = movies_list12.genres.str.split('|') #создаем столбец 'single_genres', в котором будут перечислены жанры через ","

Index(['Drama'], dtype='object')

In [62]:
movies_list13 = movies #задаем переменную, равную датасету
movies_list13['single_director'] = movies_list13.director.str.split('|') #создаем столбец 'single_director', в котором режиссеры будут разделены
movies_list13 = movies_list13.explode('single_director') # с помощью функции explode разделяем на отдельные строки
director_list = {} #создаем список режиссеров
for i in movies_list13['single_director'].unique(): #задаем цикл for, в котором в переменную i записываем сумму сборов
    director_list[i] = movies_list13[movies_list13['single_director'] == i]['revenue'].sum()
max(director_list, key = director_list.get) #находим самого кассового режиссера через функцию max

'Peter Jackson'

In [73]:
movies_list14 = movies #задаем переменную, равную датасету
movies_list14 = movies_list14[movies_list14.genres.str.contains('Action',na=False)] #фильтруем по категории Action
movies_list14['single_director'] = movies_list14.director.str.split('|') #создаем столбец 'single_director', в котором режиссеры будут разделены
values14 = movies_list14.explode('single_director').groupby(['single_director'])['imdb_id'].count().sort_values(ascending=False) #группируем режиссеров по количеству снятых фильмов Action
values14[values14 == values14.max()].index #находим искомого режиссера

<ipython-input-73-04339600cacf>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_list14['single_director'] = movies_list14.director.str.split('|')

Index(['Robert Rodriguez'], dtype='object', name='single_director')

In [74]:
movies_list15 = movies[movies.release_year == 2012] #задаем переменную согласно условиям
movies_list15['single_cast'] = movies_list15.cast.str.split('|') #создаем столбец 'single_cast', в котором актеры будут разделены
values15 = movies_list15.explode('single_cast').groupby(['single_cast'])['revenue'].sum() #группируем актеров по прибыльности фильмов
values15[values15 == values15.max()].index #находим искомого актера

<ipython-input-74-6fc170224b8b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_list15['single_cast'] = movies_list15.cast.str.split('|')

Index(['Chris Hemsworth'], dtype='object', name='single_cast')

In [152]:
movies_list16 = movies[movies.budget > movies.budget.mean()] #задаем переменную согласно условиям
movies_list16['single_cast'] = movies_list16.cast.str.split('|') #создаем столбец 'single_cast', в котором актеры будут разделены
values16 = movies_list16.explode('single_cast')['single_cast'].value_counts() #находим количество фильмов
values16[values16 == values16.max()].index #находим искомого актера

<ipython-input-152-ad70b95483bb>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_list16['single_cast'] = movies_list16.cast.str.split('|') #создаем столбец 'single_cast', в котором актеры будут разделены

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Eddie Murphy         15
Samuel L. Jackson    15
                     ..
Diane Keaton          1
Wesley Snipes         1
Steven Culp           1
Eugene Levy           1
Estella Warren        1
Name: single_cast, Length: 1505, dtype: int64

In [84]:
movies_list17 = movies #задаем переменную, равную датасету
movies_list17 = movies_list17[movies_list17.cast.str.contains('Nicolas Cage', na = False)] #фильтруем по Кейджу
movies_list17['single_genres'] = movies_list17.genres.str.split('|') #создаем столбец 'single_genres', в котором жанры будут разделены
movies_list17 = movies_list17.explode('single_genres') # с помощью функции explode разделяем на отдельные строки
movies_list17.single_genres.value_counts()[movies_list17.single_genres.value_counts() == movies_list17.single_genres.value_counts().max()].index #находим искомый жанр

<ipython-input-84-345ca50e40ca>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_list17['single_genres'] = movies_list17.genres.str.split('|')

Index(['Action'], dtype='object')

In [89]:
movies_list18 = movies[movies.production_companies.str.contains('Paramount Pictures', na = False)] #фильтруем по кинокомпании
movies_list18['profit'] = movies_list18['revenue'] - movies_list18['budget'] #создаем колонку со значением profit (разность revenue и budget)
movies_list18[movies_list18['profit'] == movies_list18['profit'].sort_values().min()]['original_title'] #находим самый убыточный фильм

<ipython-input-89-0afc57a4765a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_list18['profit'] = movies_list18['revenue'] - movies_list18['budget']

925    K-19: The Widowmaker
Name: original_title, dtype: object

In [154]:
movies_list19 = movies.groupby(['release_year']).sum() #группируем года по прибыльности фильмов
movies_list19[movies_list19['revenue'] == movies_list19.revenue.max()].index #находим самый прибыльный год

Int64Index([2015], dtype='int64', name='release_year')

In [95]:
movies_list20 = movies[movies.production_companies.str.contains('Warner Bros', na = False)] #фильтруем по кинокомпании
movies_list20 = movies_list20.groupby(['release_year']).sum() #группируем года по прибыльности фильмов
movies_list20[movies_list20['revenue'] == movies_list20.revenue.max()].index #находим самый прибыльный год

Int64Index([2014], dtype='int64', name='release_year')

In [156]:
movies_list21 = movies #задаем переменную, равную датасету
movies_list21['month'] = movies_list21.release_date.str.split('/') #создаем столбец 'month', в котором даты будут разделены
movies_list21['single_month'] = movies_list21['month'].apply(lambda x:x[0]) #вычленяем месяц из 'month' лямбда-функцией
values21 = movies_list21.groupby(['single_month'])['imdb_id'].count().sort_values(ascending=False) #считаем количество фильмов в каждом месяце
values21[values21 == values21.max()].index #находим искомый месяц

single_month
9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: imdb_id, dtype: int64

In [158]:
movies_list22 = movies #задаем переменную, равную датасету
movies_list22['month'] = movies_list22.release_date.str.split('/') #создаем столбец 'month', в котором даты будут разделены
movies_list22['single_month'] = movies_list22['month'].apply(lambda x:x[0]) #вычленяем месяц из 'month' лямбда-функцией
values21 = movies_list22.groupby(['single_month'])['imdb_id'].count() #считаем количество фильмов в каждом месяце
values21[['6','7','8']].sum() #считаем сумму фильмов по летним месяцам

450

In [160]:
movies_list23 = movies #задаем переменную, равную датасету
movies_list23['month'] = movies_list23.release_date.str.split('/') #создаем столбец 'month', в котором даты будут разделены
movies_list23['single_month'] = movies_list23['month'].apply(lambda x:x[0]) #вычленяем месяц из 'month' лямбда-функцией
winter23 = movies_list23[movies_list23['single_month'].isin(['1','2','12'])] #задаем переменную, в которую кладем зимние месяца
winter23['single_director'] = winter23.director.str.split('|')
values23 = winter23.explode('single_director').groupby(['single_director'])['imdb_id'].count().sort_values(ascending=False) #считаем сумму фильмов по режиссеру
values23[values23 == values23.max()].index #находим искомого режиссера

<ipython-input-160-292aa07a0fdb>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  winter23['single_director'] = winter23.director.str.split('|')

Index(['Peter Jackson'], dtype='object', name='single_director')

In [162]:
movies_list24 = movies #задаем переменную, равную датасету
movies_list24['length'] = movies_list24['original_title'].apply(lambda x:len(x)) #создаем столбец 'length', в котором считаем количество символов из 'original_title' лямбда-функцией
movies_list24['single_prod'] = movies_list24.production_companies.str.split('|') #создаем столбец 'single_prod', в котором кинокомпании будут разделены
values24 = movies_list24.explode('single_prod').groupby(['single_prod'])['length'].mean() #группируем по средней длине названия
values24[values24 == values24.max()].index #находим искомую студию

single_prod
"DIA" Productions GmbH & Co. KG     11.000000
11:11 Mediaworks                     8.000000
1492 Pictures                       28.230769
1984 Private Defense Contractors    17.000000
2 Entertain                         16.500000
                                      ...
Zippcast Films                      17.000000
Zohar International                 41.000000
Zucker/Netter Productions           14.000000
platinum studios                    20.000000
uFilm                               10.000000
Name: length, Length: 1771, dtype: float64

In [116]:
movies_list25 = movies #задаем переменную, равную датасету
movies_list25['length_over'] = movies_list25['overview'].apply(lambda x:len(x)) #создаем столбец 'length_over', в котором считаем количество символов из 'overview' лямбда-функцией
movies_list25['single_prod'] = movies_list25.production_companies.str.split('|') #создаем столбец 'single_prod', в котором кинокомпании будут разделены
values25 = movies_list25.explode('single_prod').groupby(['single_prod'])['length_over'].mean() #группируем по средней длине описания
values25[values25 == values25.max()].index #находим искомую студию

Index(['Midnight Picture Show'], dtype='object', name='single_prod')

In [124]:
movies_list26 = movies #задаем переменную, равную датасету
movies_list26 = movies_list26[movies_list26['vote_average'] > movies['vote_average'].quantile(q=0.99)] #сравниваем средние оценки по квантилю 1%
movies_list26[['original_title']] #выводим срез

                                     original_title
9                                        Inside Out
34                                             Room
118                                    Interstellar
119                         Guardians of the Galaxy
125                              The Imitation Game
128                                       Gone Girl
138                        The Grand Budapest Hotel
370                                       Inception
599                                 The Dark Knight
872                                     The Pianist
1081  The Lord of the Rings: The Return of the King
1183                        The Wolf of Wall Street
1191                               12 Years a Slave
1800                                        Memento

In [ ]:
#не придумал, как решить 27 вопрос, но Гарри Поттера я смотрел (и imdb помог) :3